/* ==========================================================================
  breadcrumb
  ========================================================================== */

.breadcrumb {
  color: #009480;
  font-size: 1.2rem;
  letter-spacing: 0.1em;
  padding: 8px 10px 90px 79px;

  @include sp() {
    padding: 20px 16px 30px;
  }

  &__arrow {
    padding: 0 5px;
  }

  a {
    &:hover {
      opacity: .6;
    }
  }

  &__contents {
    @include sp() {
      overflow-x: scroll;
      white-space: nowrap;
      padding-bottom: 10px;
    }
  }
}