/* ==========================================================================
  header
  ========================================================================== */

.header {
  width: 100%;
  height: 98px;
  position: fixed;
  background: #F8F8F8;
  z-index: 999;

  @include sp() {
    height: 60px;
  }

  &__inner {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    max-width: calc(1840px + 2% * 2);
    padding: 0 2%;

    @include sp() {
      max-width: initial !important;
    }
  }

  &__logo {
    width: 300px;
    @media (max-width: 1500px) {
      width: 250px;
    }
    @media (max-width: 1300px) {
      width: 230px;
    }
    @media (max-width: 1200px) {
      width: 200px;
    }
    @media (max-width: 1100px) {
      width: 180px;
    }


    @include sp() {
      width: 200px;
      height: 32px;

      img {
        vertical-align: top;
      }
    }

    >a {
      display: block;

      &:hover {
        opacity: .7;
      }
    }
  }

  &__contents {
    display: flex;
    align-items: center;

    @include sp() {
      flex-direction: column;
      background: #fff;
      height: 100%;
      position: fixed;
      right: 0;
      top: 60px;
      width: 100%;
      z-index: 999;
      transform: translateX(140%);
      transition: .3s;
      padding: 40px 20px;

      width: 77%;
      max-width: 500px;

      &.action {
        transform: translateX(0);
      }
    }

    @media (max-width: 1200px) {
      width: 80%;
    }

    @media (max-width: 1250px) {
      padding: 40px 10px;
    }
  }

  &__nav {
    @include pc() {
      display: block;
      margin-right: 15px;
    }

    @include sp() {
      width: 100%;
      margin-bottom: 20px;
    }

  }

  &__list {
    display: flex;
    justify-content: center;

    @include sp() {
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
    }
  }

  &__item {
    color: #009480;
    line-height: 1;
    position: relative;

    &::after {
      background: #009480;
      bottom: -13px;
      content: '';
      height: 3px;
      left: 0;
      position: absolute;
      transform-origin: left center;
      transition: all .5s cubic-bezier(.165, .865, .86, 1.015);
      width: 100%;
      transform: scale(0);
    }

    @include pc() {
      &:hover {
        opacity: 1;

        &::after {
          transform: scale(1);
        }
      }
    }

    @include sp() {
      &:not(:last-child) {
        margin-bottom: 30px;
      }

      width: 100%;

      border-bottom: 1px solid #009480;
    }

    >a {
      display: block;
      padding: 0 20px;
      text-align: center;

      @media (max-width: 1500px) {
        padding: 0 14px;
      }

      @media (max-width: 1200px) {
        padding: 0 10px;
      }

      @include sp() {
        text-align: left;
        padding: 0 14px 2px;

        &:hover {
          opacity: .5;
        }
      }
    }

    ._upper {
      font-size: 2.2rem;
      display: block;

      @media (max-width: 1500px) {
        font-size: 1.8rem;
      }
      @media (max-width: 1300px) {
        font-size: 1.6rem;
      }
      @media (max-width: 1050px) {
        font-size: 1.4rem;
      }

      @include sp() {
        display: none;
      }
    }

    ._below {
      font-size: 1.3rem;

      @media (max-width: 1500px) {
        font-size: 1.3rem;
      }
      @media (max-width: 1300px) {
        font-size: 1.2rem;
      }


      @include sp() {
        font-size: 1.6rem;
      }
    }
  }

  &__link {
    color: #009480;
    width: 268px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.6rem;
    @include meiryo();
    border: 1px solid #009480;

    @media (max-width: 1200px) {
      width: 230px;
    }

    @include sp() {
      width: 100%;
    }

    span {
      display: flex;
      align-items: center;

      &::before {
        content: "";
        margin-right: 23px;
        background: url(../img/common/mail.svg) no-repeat center center/24px 16px;
        width: 24px;
        height: 16px;
      }
    }

    &:hover {
      background: #009480;
      color: #fff;

      span {
        &::before {
          background: url(../img/common/mail-white.svg) no-repeat center center/24px 16px;
        }
      }
    }
  }

  &._top {
    background: transparent linear-gradient(180deg, #009480 0%, #006694 100%) 0% 0% no-repeat;

    @include pc() {
      .header__item {
        color: #fff;

        &::after {
          background: #fff;
        }
      }

      .header__link {
        border: 1px solid #fff;
        color: #fff;

        span {
          &::before {
            background: url(../img/common/mail-white.svg) no-repeat center center/24px 16px;
          }
        }

        &:hover {
          background: #fff;
          color: #009480;

          span {
            &::before {
              background: url(../img/common/mail.svg) no-repeat center center/24px 16px;
            }
          }
        }
      }
    }

    @include sp() {
      .toggle {
        span {
          border-bottom: solid 2px #fff;
        }
      }
    }
  }
}


.overlayer {
  background: rgba(0, 0, 0, .6);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 998;
  display: none;
}
