@use '../../foundation/mixin';

/* ==========================================================================
  header
  ========================================================================== */
.header {
  $self: &;
  background: #F8F8F8;
  height: 98px;
  position: fixed;
  width: 100%;
  z-index: 999;

  @include mixin.sp {
    height: 60px;
  }

  &__inner {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: space-between;
    max-width: calc(1840px + 2% * 2);
    padding: 0 0 0 2%;
    width: 100%;

    @include mixin.sp {
      max-width: initial !important;
    }
  }

  &__logo {
    width: 300px;

    @include mixin.pc {
      width: 250px;
    }

    @include mixin.sp {
      height: 32px;
      width: 200px;

      img {
        vertical-align: top;
      }
    }

    > a {
      display: block;

      &:hover {
        opacity: 0.8;
      }
    }
  }

  &__contents {
    align-items: center;
    display: flex;
    padding: 40px 0 40px 10px;

    @include mixin.pc {
      justify-content: flex-end;
    }

    @include mixin.sp {
      background: #f8f8f8;
      flex-direction: column;
      height: 100%;
      max-width: 500px;
      padding: 40px 20px;
      position: fixed;
      right: 0;
      top: 60px;
      transform: translateX(140%);
      transition: 0.3s;
      width: 77%;
      z-index: 999;

      &.action {
        transform: translateX(0);
      }
    }

    @include mixin.pc {
      width: 100%;
    }
  }

  &__nav {
    @include mixin.pc {
      display: block;
      margin-right: 15px;
    }

    @include mixin.sp {
      margin-bottom: 20px;
      width: 100%;
    }
  }

  &__list {
    display: flex;
    justify-content: center;

    @include mixin.sp {
      align-items: flex-start;
      flex-direction: column;
      justify-content: flex-start;
    }
  }

  &__item {
    line-height: 1;
    position: relative;

    &::after {
      background: #F10000;
      bottom: -13px;
      content: "";
      height: 4px;
      border-radius: 6px;
      left: 0;
      position: absolute;
      transform: scale(0);
      transform-origin: left center;
      transition: all 0.5s cubic-bezier(0.165, 0.865, 0.86, 1.015);
      width: 100%;
    }

    @include mixin.pc {
      &:hover {
        opacity: 1;

        &::after {
          transform: scale(1);
        }
      }
    }

    @include mixin.sp {
      border-bottom: 1px solid #acacac;
      color: #111;
      width: 100%;

      &:not(:last-child) {
        margin-bottom: 30px;
      }
    }

    > a {
      display: block;
      padding: 0 20px;
      text-align: center;

      @include mixin.pc {
        padding: 0 14px;
      }

      @include mixin.pc {
        padding: 0 10px;
      }

      &:hover {
        color: #F10000;
      }

      @include mixin.sp {
        padding: 0 14px 10px;
        text-align: left;

        &:hover {
          color: #F10000;
        }
      }
    }

    ._below {
      font-size: 1.3rem;
      font-weight: bold;

      @include mixin.pc {
        font-size: 1.3rem;
      }

      @include mixin.pc {
        font-size: 1.2rem;
      }

      @include mixin.sp {
        font-size: 1.6rem;
      }
    }
  }

  .green {
    background-color: #00C9C8;
  }

  .blue {
    background-color: #008BFF;
  }

  &__link {
    color: #FFF;
    font-family: "メイリオ", "Meiryo", sans-serif;
    font-weight: bold;
    height: 98px;
    text-align: center;
    width: 98px;

    @include mixin.pc {
      align-items: center;
      display: flex;
      font-size: 1.2rem;
      justify-content: center;
    }

    @include mixin.pc {
      align-items: center;
      display: flex;
      justify-content: center;
      text-align: center;
      width: 98px;
    }

    @include mixin.sp {
      font-size: 1.6rem;
      width: 100%;
    }

    &:hover {
      opacity: 0.8;

      p {
        color: #fff;
      }
    }

    .fx {
      @include mixin.sp {
        align-items: center;
        display: flex;
        justify-content: flex-start;
      }

      img {
        height: 16px;
        width: 24px;

        @include mixin.pc {
          margin-bottom: 10px;
        }

        @include mixin.sp {
          margin-right: 5px;
        }
      }
    }
  }
}

.overlayer {
  background: rgba(0, 0, 0, 0.6);
  bottom: 0;
  display: none;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 998;
}
