@use "../../foundation/mixin";

/* ==========================================================================
  Storage Battery - ページ固有スタイル
  ========================================================================== */
.storageBattery {
	.fv {
		img {
			object-position: bottom;
		}
	}

	.productDetail__image {
		padding: 20px;
		aspect-ratio: 4 / 5;

		img {
			object-fit: contain;
		}
	}
}
