@use "../../foundation/mixin";
.concept {
	display: flex;
	flex-direction: column;

	> section {
		margin-top: 205px;

		@include mixin.sp {
			margin-top: 154px;
		}

		&:first-child {
			margin-top: 0;
		}
	}

	> .fv + .breadcrumb + section {
		margin-top: 0;
	}

	.breadcrumb {
		padding-bottom: 0;
	}
	.concept__ttl {
		margin-bottom: 60px;
		padding-left: 56px;
		font-size: 36px;
		font-weight: bold;
		border-bottom: 1px solid #000;
		display: inline-block;
		span {
			font-size: 16px;
			font-weight: normal;
		}

		@include mixin.sp {
			margin-bottom: 20px;
		}
	}
}
