@use "../../foundation/mixin";
/* ==========================================================================
  fv
  ========================================================================== */
.concept {
	display: flex;
	flex-direction: column;
	gap: 30px;
	.fv {
		position: relative;
		width: 100%;
		height: 60dvh;
		&__inner {
			position: relative;
		}

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
			object-position: bottom;
			@media (max-width: 999px) {
				object-position: bottom;
			}
		}
	}
	.fv__ttl {
		color: #ffffff;
		@include mixin.yuGothicBold();
		font-size: 5.7rem;
		font-weight: bold;
		right: 3%;
		letter-spacing: 0.14em;
		line-height: 1.34;
		position: absolute;
		bottom: 20px;

		@media (max-width: 999px) {
			font-size: 3rem;
		}
	}

	
}
