@use '../../foundation/mixin';
.testtesttesttesttesttesttesttesttesttesttesttesttesttesttesttestv{
  align-items: flex-start;
}
.event {
  -ms-flex-align: start;
  -webkit-align-items: flex-start;
  -webkit-box-align: start;
  align-items: flex-start;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 20px 2%;
}
@media (max-width: 999px) {
  .event {
    padding: 20px 0;
  }
}
.event__inner {
  max-width: calc(1228px + 5% * 2);
}
.event__box {
  -ms-flex-align: center;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -webkit-box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.161);
  align-items: center;
  background: #F8F8F8;
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.161);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: -118px;
  padding: 18px 6% 30px;
  position: relative;
  z-index: 1;
}
@media (max-width: 1400px) {
  .event__box {
    margin-bottom: -38px;
    margin-top: -38px;
  }
}
@media (max-width: 999px) {
  .event__box {
    -ms-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-bottom: 0;
    margin-top: 0px;
    padding: 24px 3% 12px;
  }
}
@media (min-width: 1000px) {
  .event__left {
    margin-right: 4%;
    padding-top: 20px;
    width: 22.5%;
  }
}
@media (max-width: 1300px) {
  .event__left {
    width: 30%;
  }
}
@media (max-width: 999px) {
  .event__left {
    width: 100%;
  }
}
@media (min-width: 1000px) {
  .event__right {
    -ms-flex: 1 1 0%;
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 0%;
    flex: 1 1 0%;
  }
}
@media (max-width: 999px) {
  .event__right {
    width: 100%;
  }
}
.event__ttl {
  font-size: 4.2rem;
  margin-bottom: 28px;
}
@media (max-width: 999px) {
  .event__ttl {
    margin-bottom: 20px;
  }
}
@media (max-width: 999px) {
  .event__ttl-pc {
    display: none;
  }
}
@media (min-width: 1000px) {
  .event__ttl-sp {
    display: none;
  }
}
.event__item {
  -webkit-transition: 0.2s;
  border-bottom: 1px solid #707070;
  position: relative;
  transition: 0.2s;
}
.event__item a {
  -ms-flex-align: start;
  -webkit-align-items: flex-start;
  -webkit-box-align: start;
  align-items: flex-start;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 15px;
  padding-right: 40px;
}
@media (max-width: 1300px) {
  .event__item a {
    -ms-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
  }
}
@media (max-width: 999px) {
  .event__item a {
    padding-bottom: 1px;
    padding-right: 0;
  }
}
.event__item:hover {
  opacity: 0.7;
}
@media (min-width: 1000px) {
  .event__item:hover::before {
    right: -20px;
  }
}
.event__item:not(:last-child) {
  margin-bottom: 10px;
}
.event__item::before {
  -webkit-transform: translateY(-50%);
  -webkit-transition: 0.2s;
  background: url(../img/common/news-arrow.svg) no-repeat center center/30px 10px;
  content: "";
  height: 30px;
  margin-top: -3px;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  transition: 0.2s;
  width: 30px;
}
@media (max-width: 999px) {
  .event__item::before {
    display: none;
    margin-top: 8px;
  }
}
.event__info {
  -ms-flex-align: center;
  -webkit-align-items: center;
  -webkit-box-align: center;
  align-items: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
@media (min-width: 1000px) {
  .event__info {
    margin-right: 4%;
    width: 100%;
  }
}
@media (max-width: 1300px) {
  .event__info {
    width: 100%;
  }
}
@media (max-width: 999px) {
  .event__info {
    margin-bottom: 4px;
    width: 100%;
  }
}
.event__subTtl {
  color: #111111;
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 4px;
}
@media (min-width: 1000px) {
  .event__subTtl {
    -ms-flex: 1 1 0%;
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 0%;
    flex: 1 1 0%;
    position: relative;
    top: 7px;
  }
}
@media (max-width: 1300px) {
  .event__subTtl {
    width: 100%;
  }
}
@media (max-width: 999px) {
  .event__subTtl {
    font-size: 1.3rem;
  }
}
.event__schedule {
  color: #707070;
  font-size: 1.4rem;
  margin-bottom: 10px;
}
@media (max-width: 999px) {
  .event__schedule {
    font-size: 1.2rem;
    margin-right: 12px;
  }
}
.event__comment {
  color: #111;
  font-size: 1.6rem;
  margin-bottom: 10px;
}
@media (max-width: 999px) {
  .event__comment {
    font-size: 1.2rem;
    margin-right: 12px;
  }
}
.event__cat {
  color: #707070;
  font-size: 1.6rem;
  padding-left: 10px;
  position: relative;
}
@media (max-width: 999px) {
  .event__cat {
    font-size: 1.2rem;
  }
}
.event__cat::before {
  -webkit-transform: translateY(-50%);
  background: #707070;
  content: "";
  height: 60%;
  left: 0;
  line-height: 1;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 1px;
}
.event__btn {
  font-size: 1.6rem;
}
@media (max-width: 999px) {
  .event__btn {
    font-size: 1.2rem;
    margin: 19px auto 0;
    width: 130px;
  }
  .event__btn::before {
    display: none;
  }
}

/* ==========================================================================
  fv
  ========================================================================== */
.fv {
  margin-top: 98px;
  position: relative;
  width: 100%;
}
@media (min-width: 1401px) {
  .fv {
    background: url(../img/top/kv.jpg) no-repeat center center/cover;
    height: 800px;
  }
}
@media (max-width: 1400px) {
  .fv {
    height: 500px;
  }
}
@media (min-width: 601px) {
  .fv {
    background: url(../img/top/kv.jpg) no-repeat center center/cover;
  }
}
@media (max-width: 999px) {
  .fv {
    height: 300px;
    margin-top: 60px;
  }
}
@media (max-width: 600px) {
  .fv {
    background: url(../img/top/kv-sp.jpg) no-repeat center center/cover;
    height: 587px;
  }
}
@media (max-width: 450px) {
  .fv {
    background: url(../img/top/kv-sp.jpg) no-repeat bottom center/cover;
  }
}
.fv__inner {
  height: 100%;
  max-width: calc(1278px + 5% * 2);
  position: relative;
  width: 100%;
}
@media (max-width: 999px) {
  .fv__inner {
    max-width: 850px !important;
  }
}
.fv__ttl {
  color: #D90200;
  font-family: "Furuta", sans-serif;
  font-size: 5.7rem;
  font-weight: bold;
  left: 3%;
  letter-spacing: 0.14em;
  line-height: 1.34;
  position: absolute;
}
@media (min-width: 1000px) {
  .fv__ttl {
    top: 230px;
  }
}
@media (max-width: 999px) {
  .fv__ttl {
    bottom: 40px;
    font-size: 3rem;
    left: 20px;
  }
}
