@use '../../foundation/mixin';

.event {
	&__slider {
		position: relative;
	}
	&__slide {
		display: flex;
		background: #fff;
		align-items: stretch;
		min-height: 320px;
		width: 100%;
	}
	&__container {
		display: flex;
		width: 100%;
		align-items: stretch;
		background: #fff;
		@include mixin.sp() {
			flex-direction: column;
		}
	}
	&__image {
		flex: 1;
		position: relative;
		display: flex;
		align-items: stretch;
		img {
			width: 100%;
			height: auto;
			display: block;
		}
	}
	&__info {
		flex: 1;
		padding: 32px 24px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		text-align: left;
		align-items: flex-start;
		font-size: 1.6rem;
		font-weight: bold;
		@include mixin.sp() {
			padding: 18px 10px;
		}
	}
	&__main-title {
		font-size: 2rem;
		font-weight: bold;
		margin-bottom: 8px;
	}
	&__divider {
		border: none;
		border-top: 2px solid #222;
		margin: 8px 0 16px 0;
		width: 100%;
	}
	
	&__row {
		display: flex;
		align-items: center;
		margin-bottom: 10px;
	}
	&__icon {
		margin-right: 10px;
		color: #222;
	}
	&__date,
	&__place {
		font-weight: bold;
		letter-spacing: 0.04em;
	}
}

.swiper-button {
	&-prev.event-swiper-prev,
	&-next.event-swiper-next {
		color: #222;
		top: 50%;
		width: 30px;
		height: 55px;
		margin-top: -22px;
		z-index: 10;
		background-color: rgba(255, 255, 255, 0.3);
	}
	&-prev.event-swiper-prev {
		left: 10px;
	}
	&-next.event-swiper-next {
		right: 10px;
	}
}
