
// レスポンシブ関数
$pc1: 1380px; // PC
$pc2: 1379px; // PC
$pc3: 960px; // PC
$tab1: 640px; // タブレット
$tab2: 959px; // タブレット
$sp: 639px;  // スマホ

@mixin pc {
  @media (min-width: ($pc1)) {
    @content;
  }
}
@mixin pc2 {
  @media (min-width: $pc3) and (max-width: $pc2)  {
    @content;
  }
}
@mixin tab {
  @media (min-width: $tab1) and (max-width: $tab2)  {
    @content;
  }
}
@mixin tab {
  @media (min-width: $tab1) and (max-width: $tab2)  {
    @content;
  }
}
@mixin sp {
  @media (max-width: ($sp)) {
    @content;
  }
}
// ・//////////////// ・///////////////// ・///////////////// ・///////////////
// 共通
section{
 h2{
  color: #533B3B;
  z-index: 1;
  font-size: 48px;

  @include tab {
   font-size: 30px;
  };
  @include sp {
   font-size: 30px;
  };
 }
 p, a, span{
  font-size: 20px;
  line-height: 1.708;
  @include sp {
   font-size: 12px;
  };
 }
}
// ・//////////////// ・///////////////// ・///////////////// ・///////////////
// ファーストビュー

.main{
 width: 100%;
 img{
  padding-top: 80px;
  padding-top: 80px;
  width: 100%;
  object-fit: cover;
  object-position: center;
 }
}

// ・//////////////// ・///////////////// ・///////////////// ・///////////////
//メッセージ

.massage{
 &__inner{

  &--title{
   position: relative;
   h3{
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.3em;
    span{
     font-size: 26px;
     color: #533B3B;
    }
    .massage1{
      color: #136905;
    }
    .massage2{
      color: #140b7d;
    }
    .massage3{
      color: #e88108;
    }
    @include tab {
    };
    @include sp {
     font-size: 14px;
     span{
      font-size: 18px;
      color: #533B3B;
     }
    };
   }
  }
  &--content{
   img{
    margin-bottom: 40px;
   }
   p{

   }
  }
 }
}
// ・//////////////// ・///////////////// ・///////////////// ・///////////////
// ・//////////////// ・///////////////// ・///////////////// ・///////////////
// 選択肢

.choises{
 &__inner{

  &--title{
   position: relative;
   img{
    position: absolute;
    left: -50px;
    top:-46px;
    z-index: -1
   }
  }
  &--content{
   img{
    margin-bottom: 40px;
   }
   p{

   }
  }
 }
}
// ・//////////////// ・///////////////// ・///////////////// ・///////////////
//低価格×高品質×ZEHの家

.point3{
 background-color: #F4F2F2;
 padding:44px 0;
 &__inner{
  background-color: #0D0F3B;
  padding: 44px 0;
  box-shadow: 6px 6px 3px rgba(0, 0, 0, 0.8);
  &--title{
   h2{
    color: #ffffff;
   }
   color: #ffffff;
  }
  &--content{
   padding: 0 40px;
   @include tab {
    padding:0 6px;
   };
   @include sp {
    padding:0 6px;
   };
   p{
    color: #ffffff;

   }
   a{
    &:hover{
     text-decoration: none;
     opacity: 0.8;
    }
    .box{
     background-color: #ffffff;
     border: 1px solid #ffffff;

     margin: 20px 0;
     padding: 20px;
     cursor: pointer;
     transition: 0.2s linear;
     &:hover{
      transition: 0.2s linear;
      transform: scale(1.02);
     }
     h3{
      margin-bottom: 10px;
     }
     p{
      font-size: 16px;
      color: #533B3B;
     }
     img{
      width: 30px;

     }
    }

   }
  }
 }
}
// ・//////////////// ・///////////////// ・///////////////// ・///////////////
//低価格
.low-price{
 background-image: url(../images/low-price-bg.jpg);
 background-size: cover;
 //白バックにして透過
 background-color:rgba(255,255,255,0.6);
 //画像の位置調整
 background-position: center;
 //明るさ寮生
 background-blend-mode:lighten;
 //サイズ調整

 background-repeat: no-repeat;
 background-attachment: fixed;


 @include pc {
  padding:40px 200px;
 };
 @include pc2 {
  padding:40px 100px;
 };
 @include tab {
  padding:40px 4px;
 };
 @include sp {
   padding:40px 4px ;
 };
 &__inner{
  @include sp {
   padding: 0 20px;
  };
  &--title{
   margin-bottom: 40px;
   h2{
    color: #533B3B;
   }
   p{
    color: #533B3B;
   }
  }
  &--contents{
   margin: 0 40px;

   .content{
    margin-bottom: 40px;
    @include sp {
     margin-bottom: 60px;
    };
    img{
     width: 100%;
     margin-top: 20px;
     transform: translateY(1px);

    }
    &__inner{
     box-shadow: 6px 6px 3px rgba(0, 0, 0, 0.8);
     text-align: center;
     background-color: #0D0F3B;
     padding: 0 0 30px;
     width: 100%;
     height: 60%;

     h4{
      font-size: 22px;
      color: #ffffff;
      margin-bottom: 20px;
      @include tab {
        font-size: 18px;
        margin-bottom: 10px;
      };
     }
     p{
      text-align: left;
      color: #ffffff;
      letter-spacing: 0.1em;
      line-height: 1.6875;
      padding: 0 30px;
      font-size: 16px;
      @include tab {
        padding: 0 4px;
        font-size: 14px;
      };
     }
    }
   }
  }
 }
}
// ・//////////////// ・///////////////// ・///////////////// ・///////////////
//高品質
.high-quality{
 background-color:#0D0F3B;
 margin:0 0;
 &__inner{
  @include pc {
    margin: 0 300px;
  };
  @include pc2 {
   margin: 0 200px;
  };
  @include tab {
   margin: 0 40px;
  };
  @include sp {
   margin: 0 5px;
  };
  &--title{
   padding-top: 40px;
   margin-bottom: 40px;
   h2{
    color: #ffffff;
   }

  }
  &--content{
   p{
    color: #ffffff;
    margin-bottom: 20px;
   }
   img{
    width: 100%;
    margin-bottom: 40px;
   }
  }
 }
}
//高品質
.zeh{
 &__inner{
  &--title{
   margin-bottom: 40px;
   h2{
    color: #533B3B;
   }
   p{
    color: #533B3B;
   }
  }
  &--content{
   img{
    width: 100%;
    margin-bottom: 20px;
   }
  }
 }
}
// ・//////////////// ・///////////////// ・///////////////// ・///////////////
//施工事例
.about-case{
 &__inner{
  a{
   transition: 0.2s linear;
   &:hover{
    text-decoration: none;
    .border{
     transition: 0.2s linear;
     box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.6);
    }
   }
   &--content{
    .border{
     // border: 1px solid #0D0F3B;
     box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
     .img{
      width: 100%;
      img{
       width: 100%
      }
     }
     .text{
      padding: 10px;
      text-align: center;
      h4{
       text-align: left;
       font-size: 20px;
      }
      p{
       text-align: left;
      }

      .case-btn{
       padding: 2px 20px;
       border: 1px solid #0D0F3B;
       border-radius: 20px;
       display: inline-block;
       margin-top: 10px;
       z-index:10;
       position: relative;
       margin-top: 20px;
       transition: 0.2s linear;
       &:hover{
        transition: 0.2s linear;
        background-color: #0D0F3B;
        p{
         color: #ffffff;;
        }
       }
       p{
        color: #0D0F3B;
        font-size: 12px;
       }
      }
     }
    }
   }
  }
 }
 &__btn{
  background-color: #0D0F3B;
  padding: 10px 30px;
  transition: 0.2s;
  margin-top: 40px;
  cursor: pointer;
  display: inline-block;
  &:hover{
   transition: 0.2s;
   background: rgba(255, 255, 255, 0);
   border: 2px solid #0D0F3B;
   box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
   a{
    text-decoration: none;
    p{
     color: #0D0F3B;
     text-decoration: none;
    }
    i{

     color: #0D0F3B;

    }
   }
  }
  a{
   display: flex;
   align-items: center;
   justify-content: center;
   p{
    color: #ffffff;
    margin-right: 20px;
   }
   i{
    color: #ffffff;

   }
  }
 }
}
// ・//////////////// ・///////////////// ・///////////////// ・///////////////
//お客様の声
.voice{
 &__inner{
  &--title{

   h2{
    margin-bottom: 40px;
   }
   p{

   }
  }
  &--content{

  }
 }
}
// ・//////////////// ・///////////////// ・///////////////// ・///////////////
//低価格
.low-price{
 &__inner{
  &--title{

   h2{

   }
   p{

   }
  }
  &--content{

  }
 }
}
