@use '../../foundation/mixin';
/* ==========================================================================
  cordless(基本はbelleairページのcss上書き)
  ========================================================================== */
.cordless {
  .mv {
    &__subTtl::before {
      background: url(../img/cordless/support.svg) center center/393px 116px;

      @include mixin.pc() {
        top: -75px;
        left: -16%;
      }

      @media (max-width: 1200px) {
        left: -9%;
      }

      @media (max-width: 355px) {
        left: -7%;
      }

      @include mixin.sp() {
        background: url(../img/cordless/support.svg) center center/calc(393px * .3) calc(116px * .3);
      }

    }

    &__wrap {
      @include mixin.pc() {
        padding-left: 9%;
      }
    }

    &__subTtl ._below {
      ._sm {
        font-size: 5rem;
        color: #fff;

        @include mixin.sp() {
          font-size: 2rem;
        }

        @media (max-width: 355px) {
          font-size: 1.6rem;
        }
      }

      ._accent {
        color: #fff;
        position: relative;

        &::before {
          background: #F0EC6E;
          bottom: -5px;
          content: "";
          height: 8px;
          left: 50%;
          position: absolute;
          transform: translateX(-50%);
          width: 100%;

          @include mixin.sp() {
            bottom: -1px;
            height: 2px;
          }
        }
      }

      &::before {
        display: none;
      }

      @media (max-width: 355px) {
        font-size: 2.3rem;
      }

    }

    &__catch {
      @include mixin.pc() {
        padding: 80px 0 28px;
      }
    }

    &__ttl {
      ._upper {

        @media (max-width: 1600px) {
          font-size: 4rem;

          margin-bottom: 6px;
        }


        @media (max-width: 1300px) {
          font-size: 3.5rem;
        }

        @media (max-width: 1250px) {
          font-size: 3rem;
        }

        @media (max-width: 1150px) {
          font-size: 2.7rem;
        }

        @include mixin.sp() {
          font-size: 2rem;
        }

        @media (max-width: 500px) {
          font-size: 1.5rem;
        }

        @media (max-width: 355px) {
          font-size: 1.2rem;
        }

      }

      ._below {
        font-size: 6.5rem;

        @media (max-width: 1600px) {
          font-size: 5.2rem;
        }

        @media (max-width: 1300px) {
          font-size: 4.5rem;
        }

        @media (max-width: 1250px) {
          font-size: 4rem;
        }

        @media (max-width: 1150px) {
          font-size: 3.4rem;
        }

        @include mixin.sp() {
          font-size: 2.5rem;
        }

        @media (max-width: 500px) {
          font-size: 1.8rem;
        }

        @media (max-width: 355px) {
          font-size: 1.5rem;
        }
      }

      ._sm {
        font-size: 5.6rem;

        @media (max-width: 1600px) {
          font-size: 4.6rem;
        }

        @media (max-width: 1300px) {
          font-size: 4rem;
        }

        @media (max-width: 1250px) {
          font-size: 3.6rem;
        }

        @media (max-width: 1150px) {
          font-size: 2.8rem;
        }

        @include mixin.sp() {
          font-size: 1.6rem;
        }
      }
    }
  }



  .trouble {
    @include mixin.pc() {
      background: url(../img/cordless/trouble-bg.png) no-repeat center center/cover;
    }

    @include mixin.sp() {
      background: url(../img/cordless/trouble-bg-sp.png) no-repeat top center/cover;
    }



    &__ttl ._ttlWrap::before {
      background: url(../img/cordless/question-deco-left.svg) center center/83px 91px;

      @include mixin.sp() {
        background: url(../img/cordless/question-deco-left.svg) center center/ calc(83px * .4) calc(91px * .4);
        width: calc(83px * .4);
        height: calc(91px * .4);
      }

      @media (max-width: 355px) {
        background: url(../img/cordless/question-deco-left.svg) center center/ calc(83px * .3) calc(91px * .3);
        width: calc(83px * .3);
        height: calc(91px * .3);
      }
    }

    &__ttl ._ttlWrap::after {
      background: url(../img/cordless/question-deco-right.svg) center center/83px 91px;

      @include mixin.sp() {
        background: url(../img/cordless/question-deco-right.svg) center center/ calc(83px * .4) calc(91px * .4);
        width: calc(83px * .4);
        height: calc(91px * .4);
      }

      @media (max-width: 355px) {
        background: url(../img/cordless/question-deco-right.svg) center center/ calc(83px * .3) calc(91px * .3);
        width: calc(83px * .3);
        height: calc(91px * .3);
      }
    }

    &__img {
      @include mixin.pc() {
        max-width: 955px;
      }
    }
  }

  .case {
    padding: 92px 0;

    @include mixin.sp() {
      padding: 55px 0;
    }

    .format {
      display: inline-block;

      &__subTtl {
        padding-right: 0;

        span {
          color: #6275a8;
        }
      }

      &__ttl {}

      &__subTtl {
        @include mixin.marugoBold();
        color: #141414;
        border-bottom: 1px solid #6275a8;
        padding-bottom: 0;
      }

      &__txt {
        color: #141414;
        margin-bottom: 30px;
      }
    }

    position: relative;

    &::before {
      content: "";
      background: rgba(255, 255, 255, .6);
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
    }

    &--2 {
      &::before {
        background: rgba(255, 255, 255, .7);
      }
    }

    &__inner {
      position: relative;
      z-index: 1;
    }

    &--1 {
      background: url(../img/cordless/case1.jpg) no-repeat center center/cover;
    }

    &--2 {
      background: url(../img/cordless/case2.jpg) no-repeat center center/cover;
    }

    &--3 {
      background: url(../img/cordless/case3.jpg) no-repeat center center/cover;
    }

    &__btn {
      color: #012346;
      justify-content: flex-end;
      font-weight: bold;
      display: flex;
      align-items: center;
      font-size: 2rem;
      letter-spacing: .2em;

      @include mixin.sp() {
        font-size: 1.6rem;
      }

      &::after {
        content: "";
        background: url(../img/common/arrow.svg) no-repeat center center/58px 19px;
        width: 58px;
        height: 19px;
        position: relative;
        transition: .2s;
        right: 0;

        @include mixin.sp() {
          background: url(../img/common/arrow.svg) no-repeat center center/calc(58px * .8) calc(19px * .8);
          width: calc(58px * .8);
          height: calc(19px * .8);
        }
      }

      &:hover {
        color: #6275a8;

        &::after {
          right: -20px;

          @include mixin.sp() {
            right: -15px;
          }
        }
      }
    }
  }

  .point {
    background: #F4F6F8;
    padding: 97px 0;

    @include mixin.sp() {
      padding: 40px 0 50px;
    }

    &__ttl {
      text-align: center;
      margin-bottom: 30px;
      font-weight: bold;

      ._upper {
        letter-spacing: .2em;
        font-size: 2rem;
        display: block;
        margin-bottom: -20px;

        @include mixin.sp() {
          font-size: 1.4rem;
          margin-bottom: -5px;
        }
      }

      ._below {
        font-size: 5rem;
        letter-spacing: .2em;

        @include mixin.sp() {
          font-size: 2.8rem;
        }

        ._em {
          color: #FF7F00;
          font-size: 7rem;

          @include mixin.sp() {
            font-size: 3.6rem;
          }
        }
      }
    }


    &__list {
      display: flex;

      @include mixin.pc() {
        justify-content: space-between;
        align-items: center;
      }

      @include mixin.sp() {
        flex-wrap: wrap;
      }

      @include mixin.pc() {
        img {
          width: auto;
        }
      }
    }

    &__item {
      @include mixin.sp() {
        width: 100%;
        text-align: center;

        img {
          width: 80%;
        }

        &:not(:last-child) {
          margin-bottom: 20px;
        }
      }
    }
  }

  .ba {

    background: transparent radial-gradient(closest-side at 50% 50%, #FFFFFF 0%, #EFEFEF 100%) 0% 0% no-repeat;
    padding: 98px 0;

    @include mixin.sp() {
      padding: 40px 0 45px;
    }

    &__inner {
      max-width: calc(746px + 5% * 2);
    }

    &__ttl {
      text-align: center;
      font-weight: bold;

      ._upper {
        display: block;
        font-size: 2rem;
        letter-spacing: .2em;
        margin-bottom: -11px;

        @include mixin.sp() {
          font-size: 1.4rem;
          margin-bottom: -5px;
        }
      }

      ._below {
        font-size: 5rem;
        letter-spacing: .2em;

        @include mixin.sp() {
          font-size: 2.8rem;
        }
      }
    }

    &__txt {
      font-size: 1.8rem;
      letter-spacing: .2em;
      line-height: 1.3;
      text-align: center;
      margin-bottom: 40px;

      @include mixin.sp() {
        font-size: 1.6rem;
      }
    }

  }
}

@media all and (-ms-high-contrast: none) {
  .mv__inner {
    padding: 0 3%;
  }

  .belleair .mv__wrap,
  .cordless .mv__wrap {
    padding-left: 0;
  }
}
