@use '../../foundation/mixin';
/* ==========================================================================
  co2
  ========================================================================== */

.co2{
  background: #F0F7FD;
  padding: 97px 0 78px;

  @include mixin.sp(){
    padding: 44px 0 40px;
  }


  &__inner{
    @include mixin.sp(){
      max-width: 750px!important;
    }
    .qaArea__btn{
     margin: 20px auto 0;
    }
  }

  .format__ttl{
    color: #012346;
    margin-bottom: 50px;
  }

  img{
    @include mixin.sp(){
      width: 550px;
    }
  }

  &__img{
    @include mixin.pc(){
      width: 80%;
      margin-right: auto;
      margin-left: auto;
    }
    @include mixin.sp(){
      text-align: center;
      overflow-x: scroll;
      padding-bottom: 20px;
    }
  }

  &__subImg{
    margin:  90px auto 0;
    width: 80%;
    max-width: 730px;

    @include mixin.sp(){
      text-align: center;
      margin: 60px auto 0;
      width: 100%;
      img{
        width: 500px;
      }
    }
  }
  .scroll-hint-icon-wrap{
    @include mixin.sp(){
      top: -26%!important;
    }
  }
}
