@use '../../foundation/mixin';
/* ==========================================================================
  comparison
  ========================================================================== */

.comparison {
  background: transparent linear-gradient(180deg, #012346 0%, #00070E 100%) 0% 0% no-repeat;
  padding: 93px 0 71px;
  text-align: center;
  color: #fff;

  @include mixin.sp() {
    padding: 44px 0 41px;
  }

  &__ttl {
    font-weight: bold;
    margin-bottom: 30px;

    ._upper {
      display: block;
      font-size: 2.6rem;
      margin-bottom: -10px;
      letter-spacing: .34em;

      @include mixin.sp() {
        font-size: 1.4rem;
        margin-bottom: -5px;
      }
    }

    ._below {
      font-size: 5rem;
      letter-spacing: .2em;

      @include mixin.sp() {
        font-size: 2.8rem;
      }
    }
  }

  &__table {
    border-collapse: collapse;
    table-layout: fixed;
    text-align: center;
    width: 100%;
    line-height: 1;
    vertical-align: middle;


    tr {
      th {
        text-align: left;
      }

      &:not(:last-child) {
        border-bottom: 1px solid #fff;
      }

      &:first-child {
        border-bottom: none;
      }

      img {
        width: 88px;

        @include mixin.sp() {
          width: 58px;
        }
      }

      &._ttl {
        th {
          padding-bottom: 17px;
          text-align: center;
        }
      }
    }

    td {
      &:first-of-type {
        font-weight: bold;

        @include mixin.sp() {
          font-size: 1.5rem;
        }
      }
    }

    th {
      font-size: 2.2rem;

      @include mixin.sp() {
        font-size: 1.4rem;
        line-height: 1.3;
      }


      @media (max-width: 355px) {
        font-size: 1.3rem;
      }


      &:first-child {
        width: 220px;

        @include mixin.sp() {
          width: 100px;
        }

        @media (max-width: 355px) {
          width: 80px;
        }
      }
    }

    td {
      font-size: 3rem;

      @include mixin.sp() {
        font-size: 1.4rem;
      }
    }

    td,
    td {
      padding: 24px 2px;
      line-height: 1;

      @include mixin.sp() {
        line-height: 1.3;
        padding: 12px 2px;
      }
    }

    ._symbol {
      td {

        // &:first-of-type{
        //   font-size: 5rem;
        // }
        img {
          width: 40px;

          @include mixin.sp() {
            width: 20px;
          }
        }

        font-size: 4rem;

        @include mixin.sp() {
          font-size: 1.8rem;
        }
      }
    }
  }
}
