@use '../../foundation/mixin';
/* ==========================================================================
  fv
  ========================================================================== */
  
  .fv {
    margin-top: 98px;
    position: relative;
    width: 100%;
  }
  @media (min-width: 1401px) {
    .fv {
      background: url(../img/top/kv.jpg) no-repeat center center/cover;
      height: 800px;
    }
  }
  @media (max-width: 1400px) {
    .fv {
      height: 500px;
    }
  }
  @media (min-width: 601px) {
    .fv {
      background: url(../img/top/kv.jpg) no-repeat center center/cover;
    }
  }
  @media (max-width: 999px) {
    .fv {
      height: 300px;
      margin-top: 60px;
    }
  }
  @media (max-width: 600px) {
    .fv {
      background: url(../img/top/kv-sp.jpg) no-repeat center center/cover;
      height: 587px;
    }
  }
  @media (max-width: 450px) {
    .fv {
      background: url(../img/top/kv-sp.jpg) no-repeat bottom center/cover;
    }
  }
  .fv__inner {
    height: 100%;
    max-width: calc(1278px + 5% * 2);
    position: relative;
    width: 100%;
  }
  @media (max-width: 999px) {
    .fv__inner {
      max-width: 850px !important;
    }
  }
  .fv__ttl {
    color: #D90200;
    font-family: "Furuta", sans-serif;
    font-size: 5.7rem;
    font-weight: bold;
    left: 3%;
    letter-spacing: 0.14em;
    line-height: 1.34;
    position: absolute;
  }
  @media (min-width: 1000px) {
    .fv__ttl {
      top: 230px;
    }
  }
  @media (max-width: 999px) {
    .fv__ttl {
      bottom: 40px;
      font-size: 3rem;
      left: 20px;
    }
  }

.pageHeadEvent {
  background: url(../img/event/bg.jpg) no-repeat top center/cover;
  height: 600px;
  position: relative;
  width: 100%;
	&.event{
		background: none;
		height: 108px;
		@media (max-width: 999px) {
			height: 0;
		}
	}
}
.pageHeadEvent__ttl {
  -webkit-transform: translateY(-50%) translateX(-50%);
  left: 50%;
  position: absolute;
  position: absolute;
  top: 55%;
  transform: translateY(-50%) translateX(-50%);
  width: 328px;
}
.pageHeadEvent__ttl img {
  width: 100%;
}
@media (max-width: 999px) {
  .pageHeadEvent__ttl {
    font-size: 2.7rem;
  }
}

.event {
  -ms-flex-align: start;
  -webkit-align-items: flex-start;
  -webkit-box-align: start;
  align-items: flex-start;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 20px 2%;
}
@media (max-width: 999px) {
  .event {
    padding: 20px 0;
  }
}
.event__inner {
  max-width: calc(1228px + 5% * 2);
}
.event__box {
  -ms-flex-align: center;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -webkit-box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.161);
  align-items: center;
  background: #F8F8F8;
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.161);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: -118px;
  padding: 18px 6% 30px;
  position: relative;
  z-index: 1;
}
@media (max-width: 1400px) {
  .event__box {
    margin-bottom: -38px;
    margin-top: -38px;
  }
}
@media (max-width: 999px) {
  .event__box {
    -ms-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-bottom: 0;
    margin-top: 0px;
    padding: 24px 3% 12px;
  }
}
@media (min-width: 1000px) {
  .event__left {
    margin-right: 4%;
    padding-top: 20px;
    width: 22.5%;
  }
}
@media (max-width: 1300px) {
  .event__left {
    width: 30%;
  }
}
@media (max-width: 999px) {
  .event__left {
    width: 100%;
  }
}
@media (min-width: 1000px) {
  .event__right {
    -ms-flex: 1 1 0%;
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 0%;
    flex: 1 1 0%;
  }
}
@media (max-width: 999px) {
  .event__right {
    width: 100%;
  }
}
.event__ttl {
  font-size: 4.2rem;
  margin-bottom: 28px;
}
@media (max-width: 999px) {
  .event__ttl {
    margin-bottom: 20px;
  }
}
@media (max-width: 999px) {
  .event__ttl-pc {
    display: none;
  }
}
@media (min-width: 1000px) {
  .event__ttl-sp {
    display: none;
  }
}
.event__item {
  -webkit-transition: 0.2s;
  border-bottom: 1px solid #707070;
  position: relative;
  transition: 0.2s;
}
.event__item a {
  -ms-flex-align: start;
  -webkit-align-items: flex-start;
  -webkit-box-align: start;
  align-items: flex-start;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 15px;
  padding-right: 40px;
}
@media (max-width: 1300px) {
  .event__item a {
    -ms-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
  }
}
@media (max-width: 999px) {
  .event__item a {
    padding-bottom: 1px;
    padding-right: 0;
  }
}
.event__item:hover {
  opacity: 0.7;
}
@media (min-width: 1000px) {
  .event__item:hover::before {
    right: -20px;
  }
}
.event__item:not(:last-child) {
  margin-bottom: 10px;
}
.event__item::before {
  -webkit-transform: translateY(-50%);
  -webkit-transition: 0.2s;
  background: url(../img/common/news-arrow.svg) no-repeat center center/30px 10px;
  content: "";
  height: 30px;
  margin-top: -3px;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  transition: 0.2s;
  width: 30px;
}
@media (max-width: 999px) {
  .event__item::before {
    display: none;
    margin-top: 8px;
  }
}
.event__info {
  -ms-flex-align: center;
  -webkit-align-items: center;
  -webkit-box-align: center;
  align-items: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
@media (min-width: 1000px) {
  .event__info {
    margin-right: 4%;
    width: 100%;
  }
}
@media (max-width: 1300px) {
  .event__info {
    width: 100%;
  }
}
@media (max-width: 999px) {
  .event__info {
    margin-bottom: 4px;
    width: 100%;
  }
}
.event__subTtl {
  color: #111111;
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 4px;
}
@media (min-width: 1000px) {
  .event__subTtl {
    -ms-flex: 1 1 0%;
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 0%;
    flex: 1 1 0%;
    position: relative;
    top: 7px;
  }
}
@media (max-width: 1300px) {
  .event__subTtl {
    width: 100%;
  }
}
@media (max-width: 999px) {
  .event__subTtl {
    font-size: 1.3rem;
  }
}
.event__schedule {
  color: #707070;
  font-size: 1.4rem;
  margin-bottom: 10px;
}
@media (max-width: 999px) {
  .event__schedule {
    font-size: 1.2rem;
    margin-right: 12px;
  }
}
.event__comment {
  color: #111;
  font-size: 1.6rem;
  margin-bottom: 10px;
}
@media (max-width: 999px) {
  .event__comment {
    font-size: 1.2rem;
    margin-right: 12px;
  }
}
.event__cat {
  color: #707070;
  font-size: 1.6rem;
  padding-left: 10px;
  position: relative;
}
@media (max-width: 999px) {
  .event__cat {
    font-size: 1.2rem;
  }
}
.event__cat::before {
  -webkit-transform: translateY(-50%);
  background: #707070;
  content: "";
  height: 60%;
  left: 0;
  line-height: 1;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 1px;
}
.event__btn {
  font-size: 1.6rem;
}
@media (max-width: 999px) {
  .event__btn {
    font-size: 1.2rem;
    margin: 19px auto 0;
    width: 130px;
  }
  .event__btn::before {
    display: none;
  }
}

/* ==========================================================================
  post
  ========================================================================== */
  .post {
    padding-bottom: 120px;
  }
  @media (max-width: 999px) {
    .post {
      padding-bottom: 80px;
    }
  }
  .post__ttl {
    color: #D90200;
    font-family: "Furuta", sans-serif;
    font-size: 3.3rem;
    font-weight: bold;
    letter-spacing: 0.02em;
    margin-bottom: 10px;
    padding-left: 30px;
    position: relative;
  }
  @media (max-width: 999px) {
    .post__ttl {
      font-size: 2.2rem;
      margin-bottom: 15px;
      padding-left: 20px;
    }
  }
  .post__ttl::before {
    -webkit-transform: translateY(-50%);
    background: #D90200;
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 4px;
  }
  @media (max-width: 999px) {
    .post__ttl::before {
      width: 3px;
    }
  }
  .post__eventTtl {
    color: #000;
    font-family: "Furuta", sans-serif;
    font-size: 2.5rem;
    font-weight: bold;
    letter-spacing: 0.02em;
    margin-bottom: 40px;
    padding-left: 30px;
    position: relative;
    text-align: center;
  }
  @media (max-width: 999px) {
    .post__eventTtl {
      font-size: 2.2rem;
      margin-bottom: 15px;
      padding-left: 20px;
    }
  }
  .post__time {
    color: #707070;
    display: block;
    font-size: 2rem;
    margin-bottom: 20px;
  }
  @media (max-width: 999px) {
    .post__time {
      font-size: 1.4rem;
    }
  }
  .post__contents {
    margin-bottom: 46px;
  }
  @media (max-width: 999px) {
    .post__contents {
      margin-bottom: 40px;
    }
  }
  .post__contents p {
    letter-spacing: 0.23em;
    line-height: 1.9;
    margin-bottom: 20px;
    margin-top: 20px;
  }
  @media (max-width: 999px) {
    .post__contents p {
      margin-bottom: 15px;
      margin-top: 15px;
    }
  }
  .post__contents p a {
    color: #D90200;
    text-decoration: underline;
  }
  .post__contents p a:hover {
    opacity: 0.6;
  }
  .post__contents figcaption {
    margin-top: 10px;
  }
  .post__contents ul {
    margin: 20px 0;
    padding-left: 30px;
  }
  .post__contents ul li {
    list-style: disc;
  }
  .post__contents ol {
    margin: 20px 0;
    padding-left: 30px;
  }
  .post__contents ol li {
    list-style: decimal;
  }
  .post__contents table {
    border: 1px solid #666666;
    border-collapse: collapse;
    margin: 30px 0;
    table-layout: fixed;
    width: 100%;
  }
  .post__contents table th,
  .post__contents table td {
    border: 1px solid #666666;
  }
  .post__contents .wp-block-button {
    margin: 30px 0;
  }
  .post__contents img {
    height: auto !important;
    max-width: 100% !important;
    width: auto !important;
  }
  .post__contents h1 + p,
  .post__contents h2 + p,
  .post__contents h3 + p,
  .post__contents h4 + p,
  .post__contents h5 + p,
  .post__contents h6 + p {
    margin-top: 0;
  }
  .post__contents h1 {
    font-size: 2.8rem;
  }
  @media (max-width: 999px) {
    .post__contents h1 {
      font-size: 2.2rem;
    }
  }
  .post__contents h2 {
    font-size: 2.6rem;
  }
  @media (max-width: 999px) {
    .post__contents h2 {
      font-size: 2rem;
    }
  }
  .post__contents h3 {
    font-size: 2.4rem;
  }
  @media (max-width: 999px) {
    .post__contents h3 {
      font-size: 1.8rem;
    }
  }
  .post__contents h1, .post__contents h2, .post__contents h3 {
    margin-bottom: 16px;
  }
  .post__contents h4, .post__contents h5, .post__contents h6 {
    font-size: 2.2rem;
    margin-bottom: 12px;
  }
  @media (max-width: 999px) {
    .post__contents h4, .post__contents h5, .post__contents h6 {
      font-size: 1.7rem;
    }
  }
  .post__contents h1,
  .post__contents h2,
  .post__contents h3,
  .post__contents h4,
  .post__contents h5,
  .post__contents h6 {
    font-weight: bold;
  }
  .post__contents .wp-block-image {
    margin: 30px 0;
  }
  .post__btn {
    -ms-flex-align: center;
    -ms-flex-pack: center;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    align-items: center;
    background: #D90200;
    border: 1px solid #D90200;
    color: #fff;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    font-family: "Furuta", sans-serif;
    font-weight: bold;
    height: 40px;
    justify-content: center;
    margin: 0 auto;
    max-width: 352px;
    width: 100%;
  }
  .post__btn:hover {
    background: #fff;
    color: #D90200;
  }
  @media (min-width: 1000px) {
    .post .mainContents {
      -ms-flex: 1 1 0%;
      -webkit-box-flex: 1;
      -webkit-flex: 1 1 0%;
      flex: 1 1 0%;
    }
  }
  @media (max-width: 999px) {
    .post .mainContents {
      width: 100%;
    }
  }
  .post .list dl {
    -ms-flex-align: start;
    -webkit-align-items: flex-start;
    -webkit-box-align: start;
    align-items: flex-start;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    letter-spacing: 0.2em;
  }
  .post .list dl:not(:last-child) {
    margin-bottom: 20px;
  }
  .post .list dl dt {
    -ms-flex-align: center;
    -ms-flex-pack: center;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    align-items: center;
    background: #D90200;
    border-radius: 23px;
    color: #fff;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: 28px;
    justify-content: center;
    margin-right: 8%;
    width: 80px;
  }
  @media (max-width: 999px) {
    .post .list dl dt {
      -ms-flex-pack: center;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
      height: 28px;
      justify-content: center;
      margin-right: 6%;
      width: 100px;
    }
  }
  .post .list dl dd {
    -ms-flex: 1 1 0%;
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 0%;
    flex: 1 1 0%;
    font-size: 18px;
    font-weight: bold;
  }
  .post .list dl dd span {
    font-size: 14px;
    font-weight: normal;
  }
  .post .cvButtonLinkWrap {
    padding: 40px 0;
    text-align: center;
  }
  .post .cvButtonLink {
    -webkit-transition: 0.2s;
    display: inline-block;
    margin: 0 auto;
    transition: 0.2s;
  }
  .post .cvButtonLink .hukidashi {
    width: 202px;
  }
  .post .cvButtonLink:hover .arrowRight {
    -webkit-transform: translateX(8px);
    -webkit-transition: 0.2s;
    transform: translateX(8px);
    transition: 0.2s;
  }
  .post .cvButtonLink:hover .hukidashi {
    -webkit-transform: scale(1.2);
    -webkit-transition: 0.2s;
    transform: scale(1.2);
    transition: 0.2s;
  }
  .post .cvButtonLink__button {
    -ms-flex-align: center;
    -ms-flex-pack: center;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    align-items: center;
    background-color: #FF7F2C;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: 60px;
    justify-content: center;
    margin: 0 auto;
    width: 335px;
  }
  .post .cvButtonLink__button span {
    color: #fff;
    font-size: 26px;
    font-weight: bold;
  }
  .post .cvButtonLink__button .arrowRight {
    margin-left: 10px;
    width: 30px;
  }
  .post .madori {
    width: 100%;
  }
  .post .madori__inner {
    -ms-flex-pack: distribute;
    -webkit-justify-content: space-around;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    gap: 20px;
    justify-content: space-around;
  }
  @media (max-width: 999px) {
    .post .madori__inner {
      display: block;
    }
    .post .madori__inner--img {
      width: 100%;
    }
  }
  .post .madori__inner--img {
    width: 50%;
  }
  @media (max-width: 999px) {
    .post .madori__inner--img {
      margin-bottom: 20px;
      width: 100%;
    }
  }
  .post .madori__comment {
    font-size: 1.6rem;
    line-height: 33px;
    margin: 20px 0;
	}

	.event-message{
		margin-top: 30px;
		max-width: 600px;
		margin: 0 auto;
		text-align: center;
		font-weight: bold;
		@include mixin.sp() {
			max-width: 300px;
		}
		.blue{
			color: #1138A3 !important;
			font-size: 2.5rem;
		}
		.red{
			color: #FF0000 !important;
			font-size: 2.5rem;
		}
		.yellow{
			color: #EDC20B !important;
			font-size: 2.5rem;
		}
		.orange{
			color: #FF5A03 !important;
			font-size: 2.5rem;
		}
		.marugo{
			font-family: "heisei-maru-gothic-std", sans-serif !important;
			font-weight: bold !important;
			font-style: normal !important;
		}
		.bgRed{
			background-color: #FF0000 !important;
			padding: 10px 20px;
			color: #fff !important;
			margin-bottom: 20px;
			font-weight: bold;
			font-size: 3rem;
		}
		.cashBack{
			font-weight: normal !important;
		}
		h3{
		margin-top: 20px
		}
	}

  /* ==========================================================================
  plan
  ========================================================================== */
.eventPlan {
  margin-top: 80px;
  position: relative;
  width: 100%;
}
@media (max-width: 599px) {
  .eventPlan {
    margin-top: 40px;
  }
}
.eventPlan__box {
  -webkit-box-shadow: 3px 3px 3px rgba(139, 139, 139, 0.2);
  background: rgba(255, 255, 255, 0.8);
  border-radius: 6px;
  box-shadow: 3px 3px 3px rgba(139, 139, 139, 0.2);
  margin-bottom: 40px;
  max-width: 654px;
  position: relative;
  width: 100%;
  width: 45%;
  z-index: 1;
}
@media (max-width: 999px) {
  .eventPlan__box {
    width: 100%;
  }
}
.eventPlan__box p {
  margin: 0;
}
.eventPlan__box .number {
  -webkit-transform: translateY(-50%);
  color: #D90200;
  font-size: 40px;
  font-weight: bold;
  position: absolute;
  top: -10px;
  transform: translateY(-50%);
}
.eventPlan__box .number span {
  color: #000;
  font-size: 20px;
}
.eventPlan__box .eventPlanImg {
  -o-object-fit: cover;
  -o-object-position: center;
  height: 100%;
  object-fit: cover;
  object-position: center;
  width: 100%;
}
.eventPlan__wrap {
  -ms-flex-pack: distribute;
  -ms-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  -webkit-justify-content: space-around;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-around;
}
@media (max-width: 999px) {
  .eventPlan__wrap {
    display: block;
  }
}
.eventPlan__ttl {
  -ms-flex-align: center;
  -ms-flex-pack: center;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  align-items: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  font-size: 24px;
  font-weight: bold;
  justify-content: center;
  margin-bottom: 80px;
}
.eventPlan__ttl .logo {
  width: 157px;
}
.eventPlan__txt {
  font-size: 1.6rem;
  letter-spacing: 0.2em;
  line-height: 2;
  margin-bottom: 40px;
}
@media (max-width: 999px) {
  .eventPlan__txt {
    margin-bottom: 20px;
  }
}
@media (max-width: 599px) {
  .eventPlan__txt {
    line-height: 1.3;
    margin-bottom: 0;
  }
}
.eventPlan .subTtlWrap {
  background: rgba(255, 255, 255, 0.8);
  bottom: 15px;
  position: absolute;
  right: 15px;
}
.eventPlan__subTtl {
  color: #000;
  font-family: "Furuta", sans-serif;
  font-size: 4rem;
  font-weight: bold;
  letter-spacing: 0.08em;
  margin-bottom: 6px;
  padding: 10px 20px;
}
.eventPlan span {
  font-size: 24px;
}

/* ==========================================================================
  housingLoan
  ========================================================================== */
  .housingLoan {
    -ms-flex-align: center;
    -webkit-align-items: center;
    -webkit-box-align: center;
    align-items: center;
    border: 1px solid #F2000F;
    border-radius: 6px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    gap: 30px;
    padding: 20px;
    position: relative;
    width: 100%;
  }
  .housingLoan__img {
    width: 60%;
  }
  .housingLoan__img img {
    -o-object-fit: cover;
    -o-object-position: left;
    height: 100%;
    object-fit: cover;
    object-position: left;
  }
  @media (max-width: 999px) {
    .housingLoan__img {
      width: 100%;
    }
  }
  @media (max-width: 999px) {
    .housingLoan {
      display: block;
      margin-bottom: 20px;
    }
  }
  .housingLoan__contents {
    border-radius: 6px;
    text-align: center;
  }
  @media (max-width: 999px) {
    .housingLoan__contents {
      text-align: center;
    }
  }
  .housingLoan__contents .free {
    font-size: 20px;
    font-weight: bold;
    margin-top: 20px;
  }
  .housingLoan .simulationWrap {
    -ms-flex-pack: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    margin: 20px 0;
  }
  .housingLoan .simulation {
    width: 270px;
  }
  .housingLoan .listWrap {
    background: #F2000F;
    border-radius: 6px;
    color: #fff;
    gap: 20px;
    padding: 10px 16px;
    text-align: left;
  }
  @media (max-width: 999px) {
    .housingLoan .listWrap {
      margin: 0 auto;
      max-width: 300px;
    }
  }
  .housingLoan .listWrap li {
    -ms-flex-align: start;
    -webkit-align-items: flex-start;
    -webkit-box-align: start;
    align-items: flex-start;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
  .housingLoan .listWrap li img {
    width: 16px;
  }
  .housingLoan_list img {
    margin: 0 auto;
  }

  /* ==========================================================================
  us
  ========================================================================== */
.homeMadeWrap {
  background-color: #FEE5E4;
  border-radius: 6px;
  padding: 40px 40px 0;
}
@media (max-width: 999px) {
  .homeMadeWrap {
    padding: 40px 0 0;
  }
}
.homeMade {
  margin-top: 80px;
  position: relative;
}
@media (max-width: 599px) {
  .homeMade {
    margin-top: 40px;
  }
}
.homeMade .content-left {
  margin-bottom: 100px;
}
.homeMade .content-left::before {
  background-position: center;
  content: "";
  height: 200px;
  position: absolute;
  right: 0;
  top: 40px;
  width: 59%;
}
.homeMade .content-left .number {
  left: 10px;
}
.homeMade .content-right {
  margin-bottom: 100px;
}
.homeMade .content-right::before {
  background-position: center;
  content: "";
  height: 200px;
  left: 0;
  position: absolute;
  top: 40px;
  width: 59%;
}
.homeMade .content-right .box {
  margin-left: auto;
}
.homeMade .content-right .number {
  right: 10px;
}
.homeMade .homeMade1::before {
  background: url(../img/event/homeMade1.png) no-repeat top center/cover;
}
@media (max-width: 1400px) {
  .homeMade .homeMade1::before {
    background: url(../img/event/homeMade1.png) no-repeat top right/cover;
  }
}
.homeMade .homeMade2::before {
  background: url(../img/event/homeMade2.png) no-repeat top center/cover;
}
@media (max-width: 1400px) {
  .homeMade .homeMade2::before {
    background: url(../img/event/homeMade2.png) no-repeat top right/cover;
  }
}
.homeMade .homeMade3::before {
  background: url(../img/event/homeMade3.png) no-repeat top center/cover;
}
@media (max-width: 1400px) {
  .homeMade .homeMade3::before {
    background: url(../img/event/homeMade3.png) no-repeat top right/cover;
  }
}
.homeMade .homeMade4::before {
  background: url(../img/event/homeMade5.png) no-repeat top center/cover;
}
@media (max-width: 1400px) {
  .homeMade .homeMade4::before {
    background: url(../img/event/homeMade5.png) no-repeat top right/cover;
  }
}
.homeMade__inner {
  margin-bottom: 100px;
}
@media (max-width: 599px) {
  .homeMade__inner {
    padding: 0 10px;
  }
}
.homeMade__box {
  -webkit-box-shadow: 3px 3px 3px rgba(139, 139, 139, 0.2);
  background: rgba(255, 255, 255, 0.8);
  border-radius: 6px;
  box-shadow: 3px 3px 3px rgba(139, 139, 139, 0.2);
  max-width: 654px;
  padding: 34px;
  position: relative;
  width: 100%;
  z-index: 1;
}
@media (max-width: 999px) {
  .homeMade__box {
    width: 80%;
  }
}
.homeMade__box p {
  margin: 0;
}
.homeMade__box .number {
  -webkit-transform: translateY(-50%);
  color: #D90200;
  font-size: 40px;
  font-weight: bold;
  position: absolute;
  top: 0;
  transform: translateY(-50%);
}
.homeMade__wrap {
  position: relative;
}
.homeMade__ttl {
  -ms-flex-align: center;
  -ms-flex-pack: center;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  align-items: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  font-size: 24px;
  font-weight: bold;
  justify-content: center;
  margin-bottom: 30px;
}
.homeMade__ttl .logo {
  width: 157px;
}
.homeMade__txt {
  font-size: 1.6rem;
  letter-spacing: 0.2em;
  line-height: 2;
  margin-bottom: 40px;
}
@media (max-width: 999px) {
  .homeMade__txt {
    margin-bottom: 20px;
  }
}
@media (max-width: 599px) {
  .homeMade__txt {
    line-height: 1.3;
    margin-bottom: 0;
  }
}
.homeMade__subTtl {
  color: #D90200;
  font-family: "Furuta", sans-serif;
  font-size: 2.4rem;
  font-weight: bold;
  letter-spacing: 0.08em;
  margin-bottom: 6px;
}


/* ==========================================================================
  searchLand
  ========================================================================== */
  .searchLand {
    -ms-flex-align: center;
    -webkit-align-items: center;
    -webkit-box-align: center;
    align-items: center;
    background-color: #FEE5E4;
    border-radius: 6px;
    gap: 30px;
    margin: 0 auto 30px;
    max-width: 335px;
    padding: 20px;
    position: relative;
    text-align: center;
    width: 100%;
  }
  .searchLand p {
    margin: 20px 0;
  }
  .searchLand__ttl {
    -ms-flex-align: center;
    -ms-flex-pack: center;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    align-items: center;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    font-size: 24px;
    font-weight: bold;
    justify-content: center;
    margin-bottom: 30px;
  }
  .searchLand__ttl .logo {
    width: 157px;
  }
  .searchLand__img {
    border-radius: 6px;
    height: 160px;
  }
  .searchLand__img img {
    -o-object-fit: cover;
    -o-object-position: left;
    height: 100%;
    object-fit: cover;
    object-position: left;
  }
  @media (max-width: 999px) {
    .searchLand__img {
      width: 100%;
    }
  }
